:root {
	--white: hsl(0, 0%, 100%);
	--Slate-300: hsl(212, 45%, 89%);
	--Slate-500: hsl(216, 15%, 48%);
	--Slate-900: hsl(218, 44%, 22%);
	--font-size: 15px;
	--font-weight-light: 400;
	--font-weight-bold: 700;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Outfit", sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: var(--Slate-300);
}

.main-section {
	width: 320px;
	height: 499px;
	background-color: var(--white);
	padding: 16px;
	border-radius: 10px;
	text-align: center;
}

.main__img {
	max-width: 100%;
	border-radius: 10px;
}

.main__content {
	margin: 0 16px;
}

.main__content--heading {
	color: var(--Slate-900);
	font-size: 22px;
	margin: 16px 0;
}

.main__content--description {
	color: var(--Slate-500);
	font-size: 15px;
	line-height: 1.4;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
